.container {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    background: white;
    box-shadow: 2px 2px 4px 0px rgba(0,0,0,.5);
    border: 1px solid #eee;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .3s ease-in-out;
}

.container.show {
  transform: translateY(0);
}

.container.close {
  transform: translateY(4rem);
}

.caret {
  font-size: 1.6rem;
  position: relative;
  top: .2rem;
}
