@import '../../common.css';

.cards {
  list-style: none;
  padding: 0;
  margin: 0 -var(--gutter);
  display: flex;
  flex-direction: column;
}


@media (width < 700px) {
  .item:nth-child(even) {
    background: var(--mainAlt);
  }
}

@media (width >= 700px) {
  .cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: var(--gutter);
    padding-right: var(--gutter);
  }
  .item {
    width: 49%;
    background: white;
  }

  /* Every other .item, two-by-two */
  .item:nth-child(4n-1) { background-color: var(--mainAlt); }
  .item:nth-child(4n-1)+.item { background-color: var(--mainAlt); }
}
