@import "../../common.css";

.header {
  position: relative;
  background: var(--main) url(./header.png) center;
  background-size: cover;
  padding-top: 2rem;
  padding-bottom: 2.8rem; /* Visually compensate for decender on lowercase p. */
  min-height: 25rem;
  height: 60vw;
}

.title {
  position: absolute;
  bottom: var(--gutter);
  left: var(--gutter);
  padding: 0;
  margin: 0;
  font-size: 4.5rem;
  font-weight: 200;
  color: var(--dark);
}

@media (width >= 730px) {
  .title {
    font-size: 6rem;
  }
}

@media (width >= 1200px) {
  .title {
    font-size: 8rem;
  }
}
