data:
	contacts: [
		{
			name: 'Per-Arne Hederstaf'
			title: 'Verksamhetschef'
			email: 'per-arne@hemmalaget.se'
			phones: ['076 869 50 00']
			description: 'Per-Arne har sedan 2001 jobbat i nära anknytning till assistans och startade 2010 Hemmalaget Assistans AB. Per-Arne jobbar främst från Alingsås och har helhetsansvaret för kunderna i Västra Götaland. Per-Arne är även verksamhetsansvarig för Stockholmskontoret och jobbar i nära samarbete med Pernilla. Frihet för Per-Arne är att dra iväg några veckor med husbil runt vårt vackra land.'
		}
		{
			name: 'Pernilla Johansson'
			title: 'Lokal verksamhetschef'
			email: 'pernilla@hemmalaget.se'
			phones: ['08-518 199 00', '072-199 44 00']
			description: 'Som lokal verksamhetschef har Pernilla det övergripande ansvaret för Stockholmskontoret under Per-Arnes ledning. Främst jobbar Pernilla med de ekonomiska delarna men hjälper till där det behövs. Pernilla har en kandidatexamen i ekonomi från Stockholms Universitet och har jobbat inom assistans sedan 2006. Hon började som assistent i en vikariepool och har sedan dess jobbat med allt från kundansvarig till löneansvarig innan hon började på Hemmalaget. Pernilla är den självskrivna organisatören som gärna delar med sig av sin entusiasm och sina visioner för framtiden. Till vardags ligger mycket av Pernillas fokus på hennes dotter och make och så fort tillfälle ges försvinner hon iväg till något av Stockholms alla museum.'
		}
		{
			name: 'Mikaela Elfving'
			title: 'Kundansvarig'
			email: 'mikaela@hemmalaget.se'
			phones: ['08-518 199 01', '072-199 44 01']
			description: 'Mikaela är en av våra kundansvariga och den som har det övergripande ansvaret för sina kunder och de assistenter som jobbar med dem. Hon har jobbat inom assistans sedan 2005, som både personlig assistent, jourmedarbetare och sedan 2010 som kundansvarig. Mikaela har genom sitt yrke gått kurser inom arbetsmiljö, arbetsgivaransvar och LSS. Utöver det har hon läst kurser inom genusvetenskap, och statsvetenskap, men även fotografi, konst och filmvetenskap. Mikaela är arbetslagets innovatör, nytänkande och kreativ med ständigt nya idéer redo att sättas i handling. Avkoppling för Mikaela är att sitta ensam i en eka ute på en blank sjö och fiska.'
		}
		{
			name: 'Sara Sandström'
			title: 'Kundansvarig'
			email: 'sara@hemmalaget.se'
			phones: ['08-518 199 04', '072-199 44 04']
			description: 'Sara är den andre kundansvariga på Hemmalaget och precis som Mikaela har hon det övergripande ansvaret för sina kunder och assistenter som jobbar med dem. Sara är diplomaten i sammanhanget som månar om noggrannhet och struktur. Hon är den som gärna lägger tid på att reda ut sakfrågor eller drar igång diskussioner från alla tänkbara vinklar av ett ärende. Sara har jobbat som kundansvarig sedan 2008 och har utbildningar i arbetsgivaransvar och arbetsmiljö. Hon har tidigare engagerat sig både inom Amnesty och RFSL samt studerat genusvetenskap och psykologi. Fritiden spenderar Sara gärna med fru och söner i någon av Stockholms parklekar. Får hon lite tid för sig själv är tecknade serier ett stort intresse.'
		}
		{
			name: 'Hanan Ennjmaouy'
			title: 'Jourmedarbetare'
			email: 'hanan@hemmalaget.se'
			phones: ['08-518 199 02', '072-199 44 02']
			description: 'Hanan jobbar med jouren, Efter kontorstid är det Hanan som finns tillgänglig för alla typer av ärenden som inte kan vänta till nästa vardag. Hanan jobbar även med rekrytering till vår vikariepool och är den som håller den huvudsakliga kontakten med våra timvikarier. Blir någon hastigt sjuk är det Hanan, i dialog med kund, som ser till att bemanna vakansen. Hanan är en problemlösare ut i fingerspetsarna som tar sig an varje utmaning med positiv energi och prestigelöshet. Samtidigt är hon inte rädd att säga ifrån när någonting inte fungerar. Hon har sedan 2008 skaffat sig bred erfarenhet både som personlig assistent och som administrativ medarbetare. Träning har de senaste åren blivit en livsstil för Hanan och mellan jobbet och hennes dotter upptar träningen en stor del av hennes lediga tid i anspråk.'
		}
	]
	offer: [
		{
			id: 'contact-person'
			title: 'Kontaktperson'
			text: 'Vi tror på devisen ju fler kockar desto sämre soppa. Därför vill vi att du som kund ska kunna vända dig till din kontaktperson i alla frågor som rör assistansen. Det är kontaktpersonen som känner dig och dina behov bäst. Därför är det naturligt att din personliga kontaktperson är den som i största möjliga mån handhar alla ärenden kring din personliga assistans.'
		}

		{
			id: 'transparency'
			title: 'Transparent redovisning'
			text: 'Vi ser det som en självklarhet att du som kund ska ha full insyn i hur assistansersättningen hanteras och hur den ekonomiska fördelningen ser ut. Vi skickar månadsvis en fullständig redovisning till dig för att uppdatera dig om timmar och assistansmedel. Rapporten upprättas i samråd med dig och dina önskemål. För oss är det oerhört viktigt att du som kund får relevant redovisning i realtid. Därför har vi utformat vårt arbetssätt för att kunna ge dig periodrapport för föregående månad redan den 15:e månaden efter.'
		}

		{
			id: 'participation'
			title: 'Delaktighet'
			text: 'Innan vårt samarbete inleds upprättar du och din kontaktperson tillsammans en genomförandeplan. Här har du möjlighet att påverka alla delar av assistansen och beskriva hur du vill att samarbetet mellan oss ska fungera. Genomförandeplanen ligger till grund för allt arbete kring din assistans, som en skräddarsydd överenskommelse. Du kan när som helst uppdatera genomförandeplanen med nya önskemål eller direktiv. Hemmalaget är flexibla och arbetar ständigt med att hitta individuella lösningar för att hålla den personliga assistansen personlig.'
		}

		{
			id: 'freedom'
			title: 'Frihet'
			text: 'Assistans ska vara någonting som underlättar livet för den assistansberättigade, inte något som tar tid och krånglar till tillvaron. Hos oss får du som assistansberättigad själv bestämma vilka delar av assistansen du vill sköta och vilka delar du önskar att vi tar hand om. Det är mycket att tänka på för att assistansen ska fungera på bästa sätt. För en person är frihet att få sköta det mesta kring assistansen själv, för en annan är frihet att kunna lägga sin tid på annat. Vad är frihet för dig?'
		}

		{
			id: 'legal-advice'
			title: 'Juridisk rådgivning'
			text: 'Att ansöka om personlig assistans kan vara en långdragen process och även den som beviljats assistans får inte alltid behålla den. Genom Hemmalaget får du vid behov tillgång till juridisk expertis vid t.ex. omprövningar eller överklaganden. Med detta stöd i ryggen vill vi underlätta dina turer med Försäkringskassa eller kommun. Juridisk rådgivning är för dig som kund helt kostnadsfritt. För mer info, se www.cjadvokat.se'
		}

		{
			id: 'easy-reporting'
			title: 'Smidig tidrapportering'
			text: 'Genom applikationen Aiai får både du som assistansberättigad och dina assistenter full koll på schema och timmar. I slutet av varje månad godkänns tidsredovisningen digitalt genom Aiais webbaserade tjänst. Dina assistenter slipper tidskrävande tidrapportering i pappersformat och eftersom rapporteringen är synkroniserad med schemat minimeras samtidigt risken för felaktig rapportering. Läs mer på aiai.se.'
		}

		{
			id: 'know-how'
			title: 'Know-how'
			text: 'Vi på Hemmalaget har mångårig erfarenhet av arbete inom personlig assistans. Du kan vara trygg i vetskapen om att vi har hög kompetens och är vana i våra yrkesroller. För att hålla oss uppdaterade med lagar och bestämmelser fortbildas all administrativ personal inom samtliga områden som är relevanta för uppdraget'
		}

		{
			id: 'availability'
			title: 'Tillgänglighet'
			text: 'Vi lägger stor vikt vid att finnas tillgängliga för dig på dina villkor. Vid sidan av våra generösa öppettider har vi en bemannad jourverksamhet. Du ska kunna nå oss dygnet runt 365 dagar om året! Hemmalaget arbetar med korta beslutsvägar så att du snabbt kan få svar på dina frågor och är öppna för olika kommunikationsvägar som passar just dig.'
		}
	]
	join: [
		{
			id: 'joinbox'
			title: 'Skicka ditt CV och Personligt Brev till oss'
			text:	'<a class="button" href="mailto:info@hemmalaget.se?subject=Bli assistent hos Hemmalaget!">Ansök nu!</a>'
		}

		{
			id: 'collective_agreement'
			title: 'Kollektivavtal'
			text: 'Hemmalaget Assistans är anslutna till KFO och deras kollektivavtal. Det innebär för dig som assistent att du har en rad olika försäkringar att tillgå som anställd hos oss. Förutom att du är försäkrad på arbetstid kan du t.ex. ansöka om 10 % extra sjuklönetillägg vid längre sjukskrivning eller 10 % extra i föräldratillägg inför föräldraledighet. Du har även en livförsäkring och vi betalar in till din tjänstepension.'
		}

		{
			id: 'education'
			title: 'Utbildning'
			text: 'Hemmalaget Assistans erbjuder en rad olika utbildningar för dig som assistent. Hjärt och lungräddning, Introduktionskurs för vikarier, Bemötande och Rullstolskurs är bara några av de utbildningar som erbjuds. Utbildningarna planeras alltid i samråd med den du jobbar hos för att kunna skräddarsy relevant fortbildning för just din arbetsgrupp. Du är också alltid välkommen att komma med förslag och önskemål.'
		}

		{
			id: 'healthcare'
			title: 'Friskvård'
			text: 'Du har som anställd hos Hemmalaget alltid rätt till friskvård upp till 250 kr/månad. Att vara personlig assistent kan vara ett fysiskt krävande yrke och det är viktigt att man upprätthåller en bra fysik. Detta vill vi främja genom friskvårdbidraget. Du väljer vilken typ av friskvård du vill utöva och får information om vilka aktiviteter som är godkända enligt Skatteverkets riktlinjer.'
		}

		{
			id: 'aiai'
			title: 'AIAI'
			text: 'Genom vår portal, www.aiai.se, har du alltid tillgång till schema digitalt genom din smartphone/dator. Tidrapporter genereras automatiskt baserat på schema och allt du behöver göra är att månadsvis godkänna din tidrapport. Aiai fungerar även som en kommunikationsportal där du hittar all relevant information om ditt arbete eller din anställning hos oss.'
		}

		{
			id: 'fullservice'
			title: 'Fullservice'
			text: 'Vi är ett fullserviceföretag och nås dygnet runt. Det tycker vi är en viktig förutsättning. Du ska känna dig trygg med att alltid kunna vända dig till oss. Händer något under ditt arbetspass eller blir du akut sjuk når du oss när som helst genom vår bemannade jour. Du har även en kontaktperson som hjälper till vid alla typer av ärenden. Vi strävar efter att alltid ge snabb återkoppling på alla dina frågor och funderingar.'
		}
	]
