.section {
    display: flex;
    align-items: flex-end;
    height: 24rem;
    background-image: url('/header.png');
    background-position: center;
    background-size: cover;
    padding: 16px;
}

.title {
    font-size: 4rem;
    line-height: 1;
}