.container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
}

.highlight {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.highlight:nth-child(even) {
    background: var(--mint-alt);
}

.highlight .title {
    font-weight: 500;
    font-size: 1.5rem;
}