.section {
    display: flex;
    background: var(--mint);
    background: linear-gradient(135deg, #a8e6ce 25%, #b0f1d8 25%, #b0f1d8 50%, #a8e6ce 50%, #a8e6ce 75%, #b0f1d8 75%, #b0f1d8 100%);
    background-size: 5.66px 5.66px;
    border: 20px solid var(--mint);
    border-right: none;
    border-left: none;
    padding: 16px;
}