@import '../common.css';

.join {
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.description {
  margin-bottom: 2rem;

  & > h2 {
    margin-top: 0;
    font-size: 2.5rem;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--grey);
  text-align: center;
  padding: 2rem;

  & > h2 {
    margin-top: 0;
  }
}

.button {
  composes: button from '../common.css';
}

@media (width >= 800px) {
  .join {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .description, .banner {
    width: 50%;
    border: 1rem solid white; /* Used as a margin that's included in the elements total width. */
  }
}
