@import '../common.css';

.join {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.description {
  margin-bottom: 2rem;

  & > h2 {
    margin-top: 0;
    font-size: 2.5rem;
  }
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--grey);
  text-align: center;
  padding: 2rem;

  & > h2 {
    margin-top: 0;
  }
}

.button {
  composes: button from '../common.css';
}
