@import "../../common.css";

.collaborators {
  text-align: center;
  padding-top: var(--gutter);
  padding-bottom: var(--gutter);
}

.logos {
  composes: layoutList from "../../common.css";
  display: flex;
  justify-content: space-around;
  align-items: center;

  & img {
    max-width: 8rem;
    max-height: 6rem;
  }
}
