:root {
  --main: #a8e6ce;
  --mainLight: #b1f2d9;
  --mainAlt: #eaf4da;
  --complementary: #ffb6b3;
  --complementaryDark: #ee9b96;
  --dark: #3a3a3a;
  --light: #ffffff;
  --grey: #eee;
  --link: #00aeef;

  --gutter: 1rem;
}

.layoutList {
  list-style: none;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 0.5rem;
  background: var(--complementary);
  color: var(--dark);
  text-decoration: none;
  font-size: 1.3rem;
  white-space: nowrap;

  &:hover,
  &:focus {
    box-shadow: var(--complementaryDark) 0 0 0 0.2rem;
  }

  &:active {
    background: var(--complementaryDark);
  }
}

.link {
  text-decoration: none;
  color: var(--link);

  &:hover {
    text-decoration: underline;
  }
}

/* High-visibility focus style for increased usability */
:focus {
  outline: 0;
  background: var(--dark) !important;
  color: white !important;
  opacity: 1 !important;
}
