@import 'node_modules/modern-normalize/modern-normalize.css';

:root {
  --mint: #a8e6ce;
  --mint-alt: #eaf4da;
  --steel: #ededed;
  --tomato: #ffb6b3;
  --link: #007099;
}

* {
  margin: 0;
}

html {
  font-size: 18px;
}

button {
  all: unset;
}

a {
  all: unset;
  color: var(--link);
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

p {
  line-height: 1.4;
}

img {
  height: auto;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  line-height: 1;
}

body {
  color: #3a3a3a;
  background: white;
}

main {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}