doctype html
html(lang='sv')
	head
		title Hemmalaget
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width' initial-scale=1 maximum-scale=1 user-scalable='no')
		link(rel='stylesheet' href='vendor.css')
		script(src='vendor.js')
		link(rel='stylesheet' href='app.css')
		script(src='app.js')
	body#body
		#navigation
			#nav_container
				h1.logo Hemmalaget
				nav
					ul
						li
							a(href="#body") Start
						li
							a(href="#offer") Erbjudande
						li
							a(href="#join") Assistent
						li
							a(href="#contact") Kontakt

		main
			section#header
				h1.title Personlig assistans<br /> på dina villkor
			
			section#pledge
				.image
					img(src="per-arne.png", alt="Per-Arne Hederstaf, VD")
				.quote
					figure
						blockquote.
							Hemmalaget är det personliga assistansbolaget som sätter dig och dina
							behov i fokus. Tillsammans ser vi till att du får den hjälp som du vill
							ha, utan onödigt krångel.
						figcaption Per-Arne, VD
			
			section#regions
				#west
					h2 Västra Götaland
					p Sedan 2011 bedriver Hemmalaget Assistans AB verksamhet inom personlig assistans
				#east
					h2 Stockholmsregionen
					
					
					p Våren 2015 öppnade Hemmalaget ett lokalkontor för att utöka verksamheten
			section#offer
				h2 Vi erbjuder
				img(src="cloud.png", alt="Vårt erbjudande")
				#articles
					.row
						article#contact-person
							h3 Kontaktperson
							p.
								Vi tror på devisen ju fler kockar desto sämre soppa. Därför vill vi
								att du som kund ska kunna vända dig till din kontaktperson i alla
								frågor som rör assistansen. Det är kontaktpersonen som känner dig
								och dina behov bäst. Därför är det naturligt att din personliga
								kontaktperson är den som i största möjliga mån handhar alla ärenden
								kring din personliga assistans.
						
						article#transparency
							h3 Transparent redovisning
							p.
								Vi ser det som en självklarhet att du som kund ska ha full insyn
								i hur assistansersättningen hanteras och hur den ekonomiska
								fördelningen ser ut. Vi skickar månadsvis en fullständig
								redovisning till dig för att uppdatera dig om timmar och
								assistansmedel. Rapporten upprättas i samråd med dig och dina
								önskemål. För oss är det oerhört viktigt att du som kund får
								relevant redovisning i realtid. Därför har vi utformat vårt
								arbetssätt för att kunna ge dig periodrapport för föregående
								månad redan den 15:e månaden efter.
					.row
						article#participation
							h3 Delaktighet
							p.
								Innan vårt samarbete inleds upprättar du och din kontaktperson
								tillsammans en genomförandeplan. Här har du möjlighet att påverka
								alla delar av assistansen och beskriva hur du vill att samarbetet
								mellan oss ska fungera. Genomförandeplanen ligger till grund för
								allt arbete kring din assistans, som en skräddarsydd
								överenskommelse. Du kan när som helst uppdatera genomförandeplanen
								med nya önskemål eller direktiv. Hemmalaget är flexibla och arbetar
								ständigt med att hitta individuella lösningar för att hålla den
								personliga assistansen personlig.

						article#freedom
							h3 Frihet
							p.
								Assistans ska vara någonting som underlättar livet för den
								assistansberättigade, inte något som tar tid och krånglar till
								tillvaron. Hos oss får du som assistansberättigad själv bestämma
								vilka delar av assistansen du vill sköta och vilka delar du önskar
								att vi tar hand om. Det är mycket att tänka på för att assistansen
								ska fungera på bästa sätt. För en person är frihet att få sköta det
								mesta kring assistansen själv, för en annan är frihet att kunna
								lägga sin tid på annat. Vad är frihet för dig?
					.row
						article#legal-advice
							h3 Juridisk rådgivning
							p.
								Att ansöka om personlig assistans kan vara en långdragen process
								och även den som beviljats assistans får inte alltid behålla
								den. Genom Hemmalaget får du vid behov tillgång till juridisk
								expertis vid t.ex. omprövningar eller överklaganden. Med detta
								stöd i ryggen vill vi underlätta dina turer med Försäkringskassa
								eller kommun. Juridisk rådgivning är för dig som kund helt
								kostnadsfritt. För mer info, se www.cjadvokat.se
								
						article#easy-reporting
							h3 Smidig tidrapportering
							p.
								Genom applikationen Aiai får både du som assistansberättigad och
								dina assistenter full koll på schema och timmar. I slutet av varje
								månad godkänns tidsredovisningen digitalt genom Aiais webbaserade
								tjänst. Dina assistenter slipper tidskrävande tidrapportering i
								pappersformat och eftersom rapporteringen är synkroniserad med
								schemat minimeras samtidigt risken för felaktig rapportering. Läs
								mer på aiai.se.
					.row
						article#know-how
							h3 Know-how
							p.
								Vi på Fri Assistans har mångårig erfarenhet av arbete inom
								personlig assistans. Du kan vara trygg i vetskapen om att vi har
								hög kompetens och är vana i våra yrkesroller. För att hålla oss
								uppdaterade med lagar och bestämmelser fortbildas all
								administrativ personal inom samtliga områden som är relevanta
								för uppdraget

						article#availability
							h3 Tillgänglighet
							p.
								Vi lägger stor vikt vid att finnas tillgängliga för dig på dina
								villkor. Vid sidan av våra generösa öppettider har vi en bemannad
								jourverksamhet. Du ska kunna nå oss dygnet runt 365 dagar om året!
								Hemmalaget arbetar med korta beslutsvägar så att du snabbt kan få
								svar på dina frågor och är öppna för olika kommunikationsvägar som
								passar just dig.
							
			section#testemonial
				.image
					img(src="happy.png", alt="Karl Bergström")
				.quote
					figure
						blockquote Min assistent är som familj för mig.
						figcaption Karl Bergström
			
			section#call-to-action
				h1.call Hemmalaget hjälper dig!
				a.button(href='mailto:info@hemmalaget.se?subject=Bli assistansberättigad hos Hemmalaget!') Kontakta oss
					
			
			section#join
				h2 Vill du bli en del av Hemmalaget?
				p.
					En förutsättning för god assistans är bra assistenter. Därför vill vi
					vara en attraktiv arbetsgivare (med anställda som trivs och vill
					stanna hos oss) som strävar efter positiva och långvariga relationer
					med våra anställda. Med kollektivavtal genom KFO säkerställer vi
					schyssta anställningsvillkor och rimlig lön. Vi arbetar löpande med
					arbetsmiljöfrågor och erbjuder regelbundna personalmöten och
					medarbetarsamtal. Löneförhandlingar sker årligen. Precis som våra
					kunder har alla anställda en kontaktperson på företaget som de kan
					vända sig till med frågor och funderingar kring arbetet, samt
					jourverksamhet att tillgå vid akuta ärenden utanför kontorstid.
				a.button(href='mailto:info@hemmalaget.se?subject=Bli assistent hos Hemmalaget!') Kontakta oss
			
			section#contact
				h2 Kontakt
				
				#mainoffice
					h3 Huvudkontoret
					a(href='tel:+46768695000') Telefon: 076 869 5000
					a(href='mailto:info@hemmalaget.se') E-post: info@hemmalaget.se
					
					a.address(href='https://www.google.se/maps/place/Klockareg%C3%A5rdsv%C3%A4gen+9,+441+35+Alings%C3%A5s/@57.9387194,12.546462') Klockaregårdsvägen 9<br/>441 35 Alingsås
			
				#stockholmoffice
					h3 Stockholmskontoret
					
					a(href='tel:+46851819030') Telefon: 08 - 518 190 30
					
					h4 Besöksadress
					a.address(href='https://www.google.se/maps/place/Tullgårdsgatan+8,+116+68+Stockholm/@59.3054157,18.0833511,17z') Tullgårdsgatan 8<br />116 68 Stockholm
					
					h4 Postadress
					p Box 2003<br />Renstiernas gata 23<br />116 31 Stockholm
		
		script(type='text/javascript').
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-65451616-1', 'auto');
			ga('send', 'pageview');
		script(type'text/javascript') require("main");
