include mixins

doctype html
html(lang='sv')
	head
		title Hemmalaget
		meta(charset='UTF-8')
		meta(name='viewport' content='width=device-width' initial-scale=1 maximum-scale=1 user-scalable='no')
		//link(rel='stylesheet' href='vendor.css')
		script(src='vendor.js')
		link(rel='stylesheet' href='app.css')
		script(src='app.js')

	body#body
		a(href="")#nav_button
			img(src="menu.svg", alt="Visa navigationsmenyn")
		+navigation("top")
		+navigation("fixed")

		main
			section#header
				h1.title Personlig assistans<br /> på dina villkor


			section#pledge
				+testimonial("per-arne.png",
				"Hemmalaget är det personliga assistansbolaget som sätter dig och dina behov i fokus. Tillsammans ser vi till att du får den hjälp som du vill ha, utan onödigt krångel.",
				"Per-Arne, VD")


			section#regions
				h2 Västra Götaland
				p Sedan 2011 bedriver Hemmalaget Assistans AB verksamhet inom personlig assistans i Västra Götalandsregionen.

			section#offer
				h2 Vi erbjuder
				img(src="cloud.png", alt="Vårt erbjudande")
				.articles
					+articles(offer)
					a#contact_us(href='mailto:info@hemmalaget.se?subject=Bli kund hos Hemmalaget!')
						#image(role="img" aria-label="Vi hjälper dig! Kontakta oss!")


			section#testimonial.testimonial
				+testimonial("client.png",
				"Vi kompletterar varandra, min assistent och jag.",
				"Andreas")


			section#join
				h2 Vill du bli en del av Hemmalaget?
				p.intro.
					Vi är måna om att erbjuda hög service till både kunder och anställda
					eftersom vi vet att bra personliga assistenter är en förutsättning för bra
					personlig assistans. Därför vill vi vara en riktigt bra arbetsgivare och
					arbeta för goda relationer med varje medarbetare. Vi vill att du ska trivas
					och stanna hos oss!
				.articles
					+articles(join)


			section#testimonial2.testimonial
				+testimonial("assistant.png",
				"Det är underbart att få göra skillnad i en människas liv.",
				"Susanne, Assistent")


			section#we_at
				h2 Vi på Hemmalaget
				each contact in locals.contacts
					+contactCard(contact)


			section#partners
				p I sammarbete med:
				#logos
					a.kfo(href='https://www.kfo.se')
						img(src="kfo.png", alt="Arbetsgivarföreningen KFO")
					a.aiai(href='https://www.aiai.se')
						img(src="aiai.png", alt="Administrationsverktyget AIAI")
				p Vi innehar tillstånd från Inspektionen för Vård och Omsorg


			section#contact
				h2 Kontakt
				p.orgnr Org.nr: 556852-0315

				#mainoffice
					a(href='tel:+46768695000') Telefon: 076 869 5000
					a(href='mailto:info@hemmalaget.se') E-post: info@hemmalaget.se

					a.address(href='https://www.google.se/maps/place/Klockareg%C3%A5rdsv%C3%A4gen+9,+441+35+Alings%C3%A5s/@57.9387194,12.546462') Klockaregårdsvägen 9<br/>441 35 Alingsås

			section#attribution
				a(href="https://www.linkedin.com/in/dnjstrom" target="_blank") Built with <span class="heart">❤</span> by Daniel Ström

		script(type='text/javascript').
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-65451616-1', 'auto');
			ga('send', 'pageview');

		script(type'text/javascript') require("main");
