@import 'jeet'
@import 'rupture'

//edit()

tablet = 700px
phone = 550px

mint = #A8E6CE
mintLight = #B1F2D9
mintDark = #75A08F
grass = #DCEDC2
peach = #FFD3B5
salmon = #FFAAA6
salmonDark = #B27673
tulip = #FF8C94
dark = #4A4A4A

/* apply a natural box layout model to all elements, but allowing components to change */
html
  box-sizing border-box
*, *:before, *:after
  box-sizing inherit

html
  //font-size 22px
  font-size 120%
  font-family opensans
  color dark
  font-weight 200
  background whitesmoke

body
  margin 0

section
  center(1024px)
  background white
  padding 2rem 1rem
  overflow hidden
  cf()

article
  cf()

h1,h2,h3,h4,h5,h6
  font-weight 200
h2
  font-size 3rem
  margin-top 0
  +below(phone)
    font-size 2rem
h3
  margin-top 0
  font-weight 600
  font-size 1.4rem

img
  max-width 100%

button, .button
  display inline-block
  background salmon
  border none
  text-decoration none
  font-size 2rem
  padding .6rem .8rem
  color dark
  box-shadow 0 .2rem 0 0 salmonDark
  border-radius .3rem

  &:hover
    background lighten(salmon, 3)
    box-shadow -.05rem .25rem 0 0 salmonDark

  &:active
    background darken(salmon, 3)
    box-shadow none

*:focus
  outline dark dotted thick

button.green, .button.green
  background mint
  box-shadow 0 .2rem 0 0 mintDark

form > .button
  display: inline

.image
  col(5/12)
  padding 1rem
  +below(950px)
    padding 0
  +below(tablet)
    stack()
    max-width 16rem
    margin-bottom 1rem
.quote
  col(7/12)
  font-size 1.5rem
  blockquote, figure
    margin 0
  figcaption
    margin-top .5rem
  +below(tablet)
    stack()


#header
  position relative
  width 100%
  background mint url(header.png) center
  background-size cover
  +above(tablet+1)
    padding-top 25%
    padding-bottom 25%

  .logo
    padding 0
    margin 0
    font-size 2rem
    +above(tablet+1)
      position absolute
      top 1rem
      right 1rem

  .title
    padding 0
    margin 0
    font-size 4rem
    +above(tablet+1)
      position absolute
      bottom 1rem
      left 1rem
    +below(550px)
      font-size 3.5rem
    +below(500px)
      font-size 3rem
    +below(420px)
      font-size 2.8rem


#pledge
  background mint
  border-top solid mintLight 1.5rem
  figcaption
    text-align right
  figcaption:before
    content '- '
  +above(tablet+1)
    .image
      shift(7/12)
    .quote
      shift(-5/12)
  figure
    padding-top 13%
    +below(900px)
      padding-top 3%
    +below(750px)
      padding-top 0


#offer
  .row
    overflow hidden
    article
      col(1/2)
      padding 1rem
  +above(tablet+1)
    .row:nth-child(even)
      article
        background grass
        padding-bottom 5rem
        margin-bottom -5rem
  +below(tablet)
    .row
      article:nth-child(even)
        background grass
      article
        stack()
  +below(phone)
    padding 0
    h2
      margin-left 1rem
      margin-top 1rem


#testemonial
  background lighten(dark, 10)
  color white
  blockquote
    font-size 2.5rem
    &:before
      content '"'
    &:after
      content '"'
    +below(380px)
      font-size 2rem
  figure
    padding-top 18%
    +below(805px)
      padding-top 6%
    +below(tablet)
      padding-top 0

#call-to-action
  background mint
  padding-top 4rem
  padding-bottom 4rem
  h1
    margin-top 0
    margin-bottom 2rem
    font-size 4rem
    +below(500px)
      font-size 3.5rem
    +below(430px)
      font-size 3rem
    +below(380px)
      font-size 2.5rem

#join
  padding-bottom 4rem
  h2
    margin-bottom 1.5rem
  .button
    margin-top 1.5rem


#contact
  border-top solid salmon 3rem
  background tulip
  color white
  font-size 1.2rem
  padding-bottom 4rem
  a
    display block
    color white
    text-decoration none
  a.address
    margin-top 1rem
  div
    column(1/2)
    +below(tablet)
      stack()
      margin-bottom 2rem
      &:last-child
        margin-bottom 0
  h2
    margin-bottom 1rem
  h3
    font-size 1.7rem
    font-weight 100
    &:after
      content ':'
    +below(340px)
      font-size 1.5rem
  h4
    font-weight 600
    margin-bottom .6rem
  p
    margin 0
