@import 'jeet'
@import 'rupture'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,600')

//edit()

tablet = 700px
phone = 550px

main = #A8E6CE
mainLight = #B1F2D9
mainAlt = #EAF4DA
complementary = #FFB6B3
complementaryDark = #996663
dark = #4A4A4A
light = #FFFFFF


/* apply a natural box layout model to all elements, but allowing components to change */
html
	box-sizing border-box
*, *:before, *:after
	box-sizing inherit

html
	//font-size 22px
	font-size 120%
	font-family 'Open Sans' sans-serif
	color dark
	font-weight 200
	background whitesmoke

body
	margin 0
	position relative

section
	center(1024px)
	background white
	padding 2rem 1rem
	overflow hidden
	cf()

article
	cf()

h1,h2,h3,h4,h5,h6
	font-weight 200
h2
	font-size 3rem
	margin-top 0
	+below(phone)
		font-size 2rem
h3
	margin-top 0
	font-weight 600
	font-size 1.4rem

img
	max-width 100%

button(color, colorDark)
	display inline-block
	background color
	border none
	text-decoration none
	font-size 2rem
	padding .6rem 1.4rem
	color dark
	box-shadow 0 .2rem 0 0 colorDark
	border-radius .3rem
	&:hover
		background lighten(color, 2)
		box-shadow 0 .25rem 0 0 colorDark
	&:active
		background desaturate(darken(color, 2), 10%)
		box-shadow none

button, .button
	button(complementary, complementaryDark)

button.main, .button.main
	button(main, main)

*:focus
	outline dark dotted thick

.image
	col(5/12)
	padding 1rem
	+below(950px)
		padding 0
	+below(tablet)
		stack()
		max-width 16rem
		margin-bottom 1rem
.quote
	col(7/12)
	font-size 1.5rem
	blockquote, figure
		margin 0
	figcaption
		margin-top .5rem
	+below(tablet)
		stack()


////////////////////
//// Navigation ////
////////////////////

#nav_button
	position fixed
	top 1rem
	right 1rem
	z-index 100
	width 2.5rem
	height 2.5rem
	padding .3rem
	background white
	border-radius .3rem
	box-shadow: 0 0 .2rem dark;
	+above(phone+1)
		display none

+below(phone+1)
	.hide_nav
		display none !important

nHeight = 3rem
nBorderHeight = .4rem

#fixed
	position fixed
	top 0
	z-index 1
#top
	visibility hidden

.navigation
	display block
	width 100%

	.nav_container
		max-width 1024px
		margin-left auto
		margin-right auto
		background light
		border-bottom nBorderHeight solid mainLight
		cf()

		h1
			display inline-block
			padding 0
			margin 0
			margin-left 1rem
			font-size 1.7rem
			line-height nHeight
			z-index 2

		nav
			float right
			cf()
			ul
				margin 0
				padding 0
				list-style-type none
				li
					display inline-block
					a
						display inline-block
						color dark
						text-decoration none
						font-size 1.2rem
						font-weight 200
						height nHeight
						line-height nHeight
						padding-left 1rem
						padding-right 1rem
						margin-left 1rem
						height nHeight
						&:hover, &:focus
							background mainLight
							outline none
						&:active
							background desaturate(darken(mainLight, 10%), 20%)

	+below(950px)
		.nav_container
			h1
				font-size 1.5rem
			nav ul li a
					margin-left 0
	+below(850px)
		.nav_container nav ul li a
			padding-left .5rem
			padding-right .5rem
	+below(750px)
		.nav_container
			h1
				font-size 1.4rem
			nav ul li a
				font-size 1.1rem

+below(tablet)
	.navigation
		.nav_container
			h1
				display none
			nav
				float none
				width 100%
			ul, li, a
				width 100%
				display block
				text-align center
				cf()
			li
				col(1/3, 0, 0, 0, 0)
				padding 0
+below(phone)
	.navigation
		.nav_container
			li
				stack()

////////////////
//// Header ////
////////////////

#header
	position relative
	width 100%
	background main url(header.png) center
	background-size cover
	+above(tablet+1)
		padding-top 25%
		padding-bottom 25%

	.logo
		padding 0
		margin 0
		font-size 2rem
		font-weight 400
		+above(tablet+1)
			position absolute
			top 1rem
			right 1rem

	.title
		padding 0
		margin 0
		font-size 4.1rem
		font-weight 200
		+above(tablet+1)
			position absolute
			bottom 1rem
			left 1rem
		+below(550px)
			font-size 3.5rem
		+below(500px)
			font-size 3rem
		+below(420px)
			font-size 2.8rem


////////////////
//// Pledge ////
////////////////

#pledge
	background main
	border-top solid mainLight 1.2rem
	border-bottom solid mainLight 1.2rem
	figcaption
		text-align right
	figcaption:before
		content '- '
	+above(tablet+1)
		.image
			shift(7/12)
		.quote
			shift(-5/12)
	figure
		padding-top 13%
		+below(900px)
			padding-top 3%
		+below(750px)
			padding-top 0
		+below(tablet)
			padding-top 0
			text-align center
			figcaption
				text-align center


/////////////////
//// Regions ////
/////////////////

#regions
	background #eee
	padding-top 1rem
	padding-bottom 1rem
	div
		+above(tablet+1)
			col(1/2)
		h2
			font-size 2rem
			text-align center
			margin-bottom .3rem
		p
			margin 0
			font-size 1.1rem
			text-align center
	+below(tablet)
		div
			padding-bottom 1rem
	+below(390px)
		div h2
			font-size 1.5rem


///////////////
//// Offer ////
///////////////

#offer
	h2
		margin-bottom 1rem
	h3
		text-transform uppercase
		font-weight 600
	img
		padding 1rem
	.row
		overflow hidden
		article
			col(1/2)
			padding 1rem
	#contact_us
		margin-top 2rem
		margin-bottom 2rem
		display block
		#image
			cf()
			background-size cover
			background-image url('contact-tall.png')
			padding-top 142%
			+above(phone+1)
				background-image url('contact.png')
				padding-top 31%

	+above(tablet+1)
		.row:nth-child(even)
			article
				background mainAlt
				padding-bottom 5rem
				margin-bottom -5rem
	+below(tablet)
		.row
			margin 0
			margin-bottom 1.2rem
			article:nth-child(even)
				background mainAlt
			article
				stack()
	+below(phone)
		padding 0
		h2
			margin-left 1rem
			margin-top 1rem


//////////////////////
//// Testimonials ////
//////////////////////

.testimonial
	background main
	border-top 1.2rem solid mainLight
	border-bottom 1.2rem solid mainLight
	color dark
	blockquote
		font-size 2.8rem
		&:before
			content '"'
		&:after
			content '"'
		+below(380px)
			font-size 2.5rem
	figcaption
		font-size 2rem
	figure
		padding-top 8%
		+below(1000px)
			padding-top 6%
		+below(900px)
			padding-top 2%
		+below(805px)
			padding-top 0
		+below(tablet)
			padding-top 0
			text-align center

#testimonial2
	figure blockquote
		font-size 2.8rem
	+below(910px)
		figure blockquote
			font-size 2.5rem
	+below(790px)
		figure blockquote
			font-size 2.2rem
		figure figcaption
			font-size 1.8rem
	+above(tablet+1)
		figure
			padding-top 2.4rem
			padding-left 1rem
			// blockquote
			// 	font-size 2rem
		.image
			shift(7/12)
		.quote
			shift(-5/12)

//////////////
//// Join ////
//////////////

#join
	h2
		margin-bottom 1rem
	h3
		text-transform uppercase
		font-weight 600
	.articles
		margin-top 2rem
	.row
		overflow hidden
		margin-bottom 1rem
		article
			col(1/2)
			padding 1rem
	#joinbox
		background #eee
		padding-top 4rem
		padding-bottom 30rem
		margin-bottom -30rem
		h3
			text-transform none
			font-weight 200
			font-size 2rem
			margin-bottom 1rem
			text-align center
		a.button
			display block
			max-width 12rem
			text-align center
			margin-left auto
			margin-right auto
	+above(tablet+1)
		#joinbox
			shift(1/2)
		#collective_agreement
			shift(-1/2)
		.row:nth-child(even)
			article
				background mainAlt
				padding-bottom 5rem
				margin-bottom -5rem
	+below(tablet)
		.articles .row
			margin 0
			article
				stack()
				margin-bottom 1.2rem
			article:nth-child(odd)
				background mainAlt
		#joinbox
			margin 0
			margin-bottom 2rem
			padding 1rem
			padding-top 2rem
			padding-bottom 2rem
	+below(phone)
		padding 0
		h2, p.intro
			margin-left 1rem
			margin-top 1rem


///////////////
//// We at ////
///////////////

#we_at
	article
		col(1/2)
		margin-right 0
		padding 1rem
		img
			width 40%
			float right
		h3
			font-size 1.5rem
			font-weight 200
			margin-bottom 0
		h4
			margin-top 0
			margin-bottom 1rem
			font-size	1.2rem
		.contact_info
			font-size 1.1rem
			white-space nowrap
			a
				color #00aeef
				text-decoration none
				&:hover
					text-decoration underline
			ul
				margin 0
				padding 0
				list-style-type none
			.comment
				font-style italic
				color lighten(dark, 50%)
	+below(tablet)
		article
			stack()
			margin-bottom 1rem
	+below(phone)
		padding 0
		h2
			margin-left 1rem
			margin-top 1rem
		article:nth-child(odd)
			background mainAlt
		article
			text-align center
			margin-bottom 0
			img
				float none
				width 60%
	+below(400px)
		article img
			width 80%


//////////////////
//// Partners ////
//////////////////

section#partners
	text-align center
	p:first-of-type
		color darkgrey
	a
		margin-right 4rem
	.kfo img
		width 8rem
	.aiai
		margin 0
		img
			height 6rem
	#logos
		width 18rem
		margin 0 auto

+below(376px)
	section#partners #logos
		width auto
		margin 0
		a
			padding 0
			margin 0
			margin-bottom 1rem
			display block


/////////////////
//// Contact ////
/////////////////

#contact
	border-top solid mainLight 1.5rem
	background main
	color dark
	font-size 1.2rem
	padding-bottom 4rem
	p.orgnr
		margin-bottom 1rem
	a
		display block
		color dark
		text-decoration none
		&:hover
			text-decoration underline
	a.address
		margin-top 1rem
	div
		column(1/2)
		+below(tablet)
			stack()
			margin-bottom 2rem
			&:last-child
				margin-bottom 0
	h2
		margin-bottom 1rem
	h3
		font-size 1.7rem
		font-weight 100
		&:after
			content ':'
		+below(340px)
			font-size 1.5rem
	h4
		font-weight 600
		margin-bottom .6rem
	p
		margin 0
