#attribution
	display flex
	justify-content flex-end
	padding-top 0
	padding-bottom 0

	a
		margin .2rem 0
		text-align right
		opacity .7
		color dark
		text-decoration: none
		&:hover
			opacity 1

	span.heart
		color #FE5F55
