@import 'globals'

/* apply a natural box layout model to all elements, but allowing components to change */
html
	box-sizing border-box
*, *:before, *:after
	box-sizing inherit

html
	//font-size 22px
	font-size 120%
	font-family 'Open Sans', sans-serif
	color dark
	font-weight 200
	bgPattern(whitesmoke, 'gray_jean.png', 'gray_jean_@2X.jpg', 150px)

body
	margin 0
	position relative

section
	center(1024px)
	background white
	padding 2rem 1rem
	overflow hidden
	cf()

article
	cf()

h1,h2,h3,h4,h5,h6
	font-weight 200
h2
	font-size 3rem
	margin-top 0
	+below(phone)
		font-size 2rem
h3
	margin-top 0
	font-weight 600
	font-size 1.4rem

img
	max-width 100%

button(color, colorDark)
	display inline-block
	background color
	border none
	text-decoration none
	font-size 2rem
	padding .6rem 1.4rem
	color dark
	box-shadow 0 .2rem 0 0 colorDark
	border-radius .3rem
	&:hover
		background lighten(color, 2)
		box-shadow 0 .25rem 0 0 colorDark
	&:active
		background desaturate(darken(color, 2), 10%)
		box-shadow none

button, .button
	button(complementary, complementaryDark)

button.main, .button.main
	button(main, main)

*:focus
	outline dark dotted thick
