@import 'globals'

#contact
	border-top solid mainLight 1.5rem
	bgPattern(main, 'debut_light_g.png', 'debut_light_g_@2X.png', 200px)
	color dark
	font-size 1.2rem
	padding-bottom 4rem
	p.orgnr
		margin-bottom 1rem
	a
		display block
		color dark
		text-decoration none
		&:hover
			text-decoration underline
	a.address
		margin-top 1rem
	div
		column(1/2)
		+below(tablet)
			stack()
			margin-bottom 2rem
			&:last-child
				margin-bottom 0
	h2
		margin-bottom 1rem
	h3
		font-size 1.7rem
		font-weight 100
		&:after
			content ':'
		+below(340px)
			font-size 1.5rem
	h4
		font-weight 600
		margin-bottom .6rem
	p
		margin 0
