@import 'jeet'
@import 'rupture'
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic');

//edit()

tablet = 700px
phone = 550px

main = #A8E6CE
mainLight = #B1F2D9
mainAlt = #EAF4DA
complementary = #FFB6B3
complementaryDark = #996663
dark = #4A4A4A
light = #FFFFFF

bgPattern(color, imgUrl, doubleImgUrl, size)
	background-image url(imgUrl)
	background-color color
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		background-image url(doubleImgUrl)
		background-size size size
