@import 'globals'

#header
	position relative
	width 100%
	background main url(header.png) center
	background-size cover
	+above(tablet+1)
		padding-top 25%
		padding-bottom 25%

	.logo
		padding 0
		margin 0
		font-size 2rem
		font-weight 400
		+above(tablet+1)
			position absolute
			top 1rem
			right 1rem

	.title
		padding 0
		margin 0
		font-size 4.1rem
		font-weight 200
		+above(tablet+1)
			position absolute
			bottom 1rem
			left 1rem
		+below(550px)
			font-size 3.5rem
		+below(500px)
			font-size 3rem
		+below(420px)
			font-size 2.8rem
