@import 'globals'

#join
	h2
		margin-bottom 1rem
	h3
		text-transform uppercase
		font-weight 600
	.articles
		margin-top 2rem
	.row
		overflow hidden
		margin-bottom 1rem
		article
			col(1/2)
			padding 1rem
	#joinbox
		background #eee
		padding-top 4rem
		padding-bottom 30rem
		margin-bottom -30rem
		h3
			text-transform none
			font-weight 200
			font-size 2rem
			margin-bottom 1rem
			text-align center
		a.button
			display block
			max-width 12rem
			text-align center
			margin-left auto
			margin-right auto
	+above(tablet+1)
		#joinbox
			shift(1/2)
		#collective_agreement
			shift(-1/2)
		.row:nth-child(even)
			article
				background mainAlt
				padding-bottom 5rem
				margin-bottom -5rem
	+below(tablet)
		.articles .row
			margin 0
			article
				stack()
				margin-bottom 1.2rem
			article:nth-child(odd)
				background mainAlt
		#joinbox
			margin 0
			margin-bottom 2rem
			padding 1rem
			padding-top 2rem
			padding-bottom 2rem
	+below(phone)
		padding 0
		h2, p.intro
			margin-left 1rem
			margin-top 1rem
