@import 'globals'

#nav_button
	position fixed
	top 1rem
	right 1rem
	z-index 100
	width 2.5rem
	height 2.5rem
	padding .3rem
	background white
	border-radius .3rem
	box-shadow: 0 0 .2rem dark;
	+above(phone+1)
		display none

+below(phone+1)
	.hide_nav
		display none !important

nHeight = 3rem
nBorderHeight = .4rem

#fixed
	position fixed
	top 0
	z-index 1
#top
	visibility hidden

.navigation
	display block
	width 100%

	.nav_container
		max-width 1024px
		margin-left auto
		margin-right auto
		background light
		border-bottom nBorderHeight solid mainLight
		cf()

		h1
			display inline-block
			padding 0
			margin 0
			margin-left 1rem
			font-size 1.7rem
			line-height nHeight
			z-index 2

		nav
			float right
			cf()
			ul
				margin 0
				padding 0
				list-style-type none
				li
					display inline-block
					a
						display inline-block
						color dark
						text-decoration none
						font-size 1.2rem
						font-weight 200
						height nHeight
						line-height nHeight
						padding-left 1rem
						padding-right 1rem
						margin-left 1rem
						height nHeight
						&:hover, &:focus
							background mainLight
							outline none
						&:active
							background desaturate(darken(mainLight, 10%), 20%)

	+below(950px)
		.nav_container
			h1
				font-size 1.5rem
			nav ul li a
					margin-left 0
	+below(850px)
		.nav_container nav ul li a
			padding-left .5rem
			padding-right .5rem
	+below(750px)
		.nav_container
			h1
				font-size 1.4rem
			nav ul li a
				font-size 1.1rem

+below(tablet)
	.navigation
		.nav_container
			h1
				display none
			nav
				float none
				width 100%
			ul, li, a
				width 100%
				display block
				text-align center
				cf()
			li
				col(1/3, 0, 0, 0, 0)
				padding 0
+below(phone)
	.navigation
		.nav_container
			li
				stack()
