@import 'globals'

#offer
	h2
		margin-bottom 1rem
	h3
		text-transform uppercase
		font-weight 600
	img
		padding 1rem
	.row
		overflow hidden
		article
			col(1/2)
			padding 1rem
	#contact_us
		margin-top 2rem
		margin-bottom 2rem
		display block
		#image
			cf()
			background-size cover
			background-image url('contact-tall.png')
			padding-top 142%
			+above(phone+1)
				background-image url('contact.png')
				padding-top 31%

	+above(tablet+1)
		.row:nth-child(even)
			article
				background mainAlt
				padding-bottom 5rem
				margin-bottom -5rem
	+below(tablet)
		.row
			margin 0
			margin-bottom 1.2rem
			article:nth-child(even)
				background mainAlt
			article
				stack()
	+below(phone)
		padding 0
		h2
			margin-left 1rem
			margin-top 1rem
