@import 'globals'

#regions
	bgPattern(#EEEEEE, 'debut_light.png', 'debut_light_@2X.png', 200px)
	padding-top 1rem
	padding-bottom 1.7rem
	div
		+above(tablet+1)
			col(1/2)
		h2
			font-size 2rem
			text-align center
			margin-bottom .3rem
		p
			margin 0
			font-size 1.1rem
			text-align center
	+below(tablet)
		padding-bottom 1rem
		div
			padding-bottom 1rem
	+below(390px)
		div h2
			font-size 1.5rem
