@import 'globals'

.image
	col(5/12)
	padding 1rem
	+below(950px)
		padding 0
	+below(tablet)
		stack()
		max-width 16rem
		margin-bottom 1rem
.quote
	col(7/12)
	font-size 1.5rem
	blockquote, figure
		margin 0
	figcaption
		margin-top .5rem
	+below(tablet)
		stack()

.testimonial
	background-image url('debut_light_g.png')
	background-color main
	@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi)
		background-image url('debut_light_g_@2X.png')
		background-size 200px 200px
	border-top 1.2rem solid mainLight
	border-bottom 1.2rem solid mainLight
	color dark
	blockquote
		font-size 2.8rem
		&:before
			content '"'
		&:after
			content '"'
		+below(380px)
			font-size 2.5rem
	figcaption
		font-size 2rem
	figure
		padding-top 8%
		+below(1000px)
			padding-top 6%
		+below(900px)
			padding-top 2%
		+below(805px)
			padding-top 0
		+below(tablet)
			padding-top 0
			text-align center

#testimonial2
	figure blockquote
		font-size 2.8rem
	+below(910px)
		figure blockquote
			font-size 2.5rem
	+below(790px)
		figure blockquote
			font-size 2.2rem
		figure figcaption
			font-size 1.8rem
	+above(tablet+1)
		figure
			padding-top 2.4rem
			padding-left 1rem
			// blockquote
			// 	font-size 2rem
		.image
			shift(7/12)
		.quote
			shift(-5/12)
