@import 'globals'

#we_at
	article
		col(1/2)
		margin-right 0
		padding 1rem
		img
			width 40%
			float right
		h3
			font-size 1.5rem
			font-weight 200
			margin-bottom 0
		h4
			margin-top 0
			margin-bottom 1rem
			font-size	1.2rem
		.contact_info
			font-size 1.1rem
			white-space nowrap
			a
				color #00aeef
				text-decoration none
				&:hover
					text-decoration underline
			ul
				margin 0
				padding 0
				list-style-type none
			.comment
				font-style italic
				color lighten(dark, 50%)
	+below(tablet)
		article
			stack()
			margin-bottom 1rem
	+below(phone)
		padding 0
		h2
			margin-left 1rem
			margin-top 1rem
		article:nth-child(odd)
			background mainAlt
		article
			text-align center
			margin-bottom 0
			img
				float none
				width 60%
	+below(400px)
		article img
			width 80%


//////////////////
//// Partners ////
//////////////////

section#partners
	text-align center
	p:first-of-type
		color darkgrey
	a
		margin-right 4rem
	.kfo img
		width 8rem
	.aiai
		margin 0
		img
			height 6rem
	#logos
		width 18rem
		margin 0 auto

+below(376px)
	section#partners #logos
		width auto
		margin 0
		a
			padding 0
			margin 0
			margin-bottom 1rem
			display block
