@import '../common.css';

.attribution {
  padding: .5rem 1rem;
  text-align: right;
  opacity: .7;
  &:hover {
    opacity: 1;
  }

  & > a {
    text-decoration: none;
    color: var(--dark);
  }
}

.red {
  color: #fe5f55;
}
