@import '../common.css';

.attribution {
  padding: .5rem 1rem;
  text-align: right;

  & > a {
    text-decoration: none;
    color: var(--dark);
    opacity: .7;
    &:hover {
      opacity: 1;
    }
  }
}

.red {
  color: #fe5f55;
}
