@import '../common.css';

.offer {
}

.title {
  font-size: 2.8rem;
}

.offers {
  composes: listing from '../common.css';
  margin: 0;
  margin-left: -var(--viewportPadding);
  margin-right: -var(--viewportPadding);
}
