
@keyframes spin{
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}

.spinner {
  display: inline-flex;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  border: .15em solid;
  border-left-color: transparent;

  animation-name: spin;
  animation-duration: 400ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
