@import '../common.css';

.contact {
  padding: 0;
  padding-bottom: 2rem;
}

.banner {
  display: flex;
  flex-direction: column;
}

.image {
  min-height: 30rem;
  background: url(./natural_smile.jpg) center;
  background-size: cover;
}

.bar {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--grey);

  padding: 1rem;
  padding-bottom: 1.5rem;
}

.title {
  margin: 0;
  margin-bottom: 1rem;
  font-weight: 200;
  font-size: 3.2rem;
  text-align: center;
}

.button {
  composes: button from '../common.css';
  font-size: 1.5rem;
}

@media (width >= 800px) {
  .banner {
    flex-direction: row-reverse;
  }

  .image {
    flex-grow: 1;
  }

  .bar {
    width: 30%;
    justify-content: center;
  }
}
