@import '../../common.css';

.quote {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--main) url(./debut_light_g.png);
  border-top: 1.2rem solid var(--mainLight);
  border-bottom: 1.2rem solid var(--mainLight);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.image {
  display: block;
  margin: 0 auto;
  max-width: 20rem;
  border: .5rem solid white;
  border-radius: 50%;
}

.figure {
  font-size: 1.9rem;
  text-align: center;
  hyphens: manual;
  margin: 0;
  margin-top: 1rem;

  & blockquote, & figcaption {
    margin: 0;
  }

  & blockquote::before {
    content: '“';
  }
  & blockquote::after {
    content: '”';
  }

  & figcaption {
    margin-top: 1rem;
  }
}

@media (width >= 700px) {
  .quote {
    flex-direction: row;
    justify-content: space-between;

    & .image {
      margin: auto;
      width: 40%;
    }

    & .figure {
      margin: auto;
      padding-left: 1rem;
    }

    & blockquote, & figcaption {
      text-align: left;
    }
  }

  /* Additional styles for reversing the layout */
  .quote.reverse {
    flex-direction: row-reverse;
    & .figure {
      padding-left: 0;
      padding-right: 1rem;
    }
    & blockquote, & figcaption {
      text-align: right;
    }
  }
}
