
.region {
  background: #dadada url(./debut_light.png);
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  font-size: 2.3rem;
  margin: 0;
  margin-bottom: 1rem;
}

.text {
  font-size: 1.4rem;
  margin: 0;
}
