@import 'common.css';

.header {
	background: var(--main) url(./header.png) center;
	background-size: cover;
	padding-top: 2rem;
	padding-bottom: 2.8rem; /* Visually compensate for decender on lowercase p. */
}

.title {
	padding: 0;
	margin: 0;
	font-size: 4.1rem;
	font-weight: 200;
  color: var(--dark);
}
