@import '../common.css';

.card {
  padding: var(--gutter);
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: bold;
}

.text {
  margin-bottom: 0;
  hyphens: auto;
}
