@import '../../common.css';

:root {
  --animationDuration: 400ms;
  --navItemHeight: 4rem;

  /*
   * Due to limitations in CSS, this number will have to be manually updated
   * when adding new items in the navigation list.
   *
   * You'll also need to update the responsive breakpoint at the bottom of this
   * file.
   */
  --nrOfNavItems: 5;
}

.navigation {
  display: flex;
  flex-direction: column;
  padding: 0;
  border-bottom: .5rem solid var(--mainLight);
}

.menuBar {
  display: flex;
  justify-content: space-between;
}

.navButton {
  font-size: 3rem;
  cursor: pointer;
  padding: 0 var(--gutter);
  text-align: center;

  /* Compensate for the menu-glyph not being visually centered */
  padding-left: calc(var(--gutter) + .2rem);
  padding-bottom: .2rem;

  text-decoration: none;
  color: var(--dark);
  background: white;
  border: none;

  &:hover {
    background: var(--mainLight);
  }
}

.logo {
  margin: 0;
  & > a {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: var(--dark);
    padding: var(--gutter);
  }
}

.nav {
  overflow-y: hidden;
}

.hide {
  max-height: 0;
  visibility: hidden;
  /*
    This messes up the named target link scrolling. It ends up jumping to the
    position where the target was if the navigation drawer was open, thereby
    overshooting.

    transition: var(--animationDuration) ease-in-out;
  */
}

.show {
  max-height: calc(var(--nrOfNavItems)*var(--navItemHeight));
  visibility: visible;
  transition: var(--animationDuration) ease-in-out;
}

.navList {
  display: flex;
  flex-direction: column;
  composes: layoutList from '../../common.css';
  margin: 0;
}

.navItem {
  height: var(--navItemHeight);

  & > a {
    display: block;
    line-height: var(--navItemHeight);
    height: 100%;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--dark);
    border-top: 1px dotted lightgrey;

    &:hover {
      background: var(--mainLight);
    }
  }
}


/*
 * Unfortunately it's not possible to use calc() nor variables in a media query.
 * This width will have to be updated manually, but should probably fall within
 * the range of:
 *
 * width >= calc(140px * --nrOfNavItems)
 *
 */
@media(width >= 700px) {
  .navigation {
    flex-direction: row;
    justify-content: space-between;
  }
  .navList {
    flex-direction: row;
    justify-content: flex-end;
  }

  .navList, .navItem {
    height: 100%;
  }

  .menuBar {
    margin-right: 2rem;
  }

  .nav {
    flex-grow: 1;
  }

  .navButton {
    display: none;
  }

  .navItem > a {
    padding-left: .5rem;
    padding-right: .5rem;
  }

  .navItem:last-child {
    margin-right: .5rem;
  }

  .show, .hide {
    visibility: visible;
  }
}
