@import "../../common.css";

.card {
  text-align: center;
}

.portrait {
  width: 70%;
  max-width: 20rem;
}

.fullname {
  margin-bottom: 0;
  font-size: 2rem;
}

.title {
  margin-top: 0;
  font-size: 1.5rem;
}

.contactLink {
  composes: link from '../../common.css';
  display: block;
  margin-bottom: 1rem;
  font-size: 1.3rem;
}

.description {
  font-size: 1.2rem;
}
