.section {
    display: flex;
    flex-direction: column;
    background: white;
}

.topBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.hamburger {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .8rem;
    font-size: 2rem;
    cursor: pointer;
    user-select: none;
}

.verticalCenterFix {
    margin-top: -.5rem;
}

.hamburger:focus-visible,
.hamburger:hover {
    background: var(--steel);
}

.companyName {
    position: relative;
    font-size: 2rem;
    padding-left: 1rem;
    color: unset;
}

.companyName:hover {
    text-decoration: none;
}

.drawer {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.2rem;
}

.drawer.open {
    display: flex;
}

.drawer.closed {
    display: none;
}

.drawer a {
    color: unset;
    padding: 1rem 2rem;

}

.drawer a:hover {
    color: unset;
}

@media (min-width: 850px) {
  .hamburger {
    display: none;
  }
  .drawer.closed {
    display: flex;
  }
  .drawer {
    flex-direction: row;
  }
  .drawer a {
    padding: 1rem .7rem;
  }
  .section {
    flex-direction: row;
    justify-content: space-between;
  }
}
