:root {
  --main: #A8E6CE;
  --mainLight: #B1F2D9;
  --mainAlt: #EAF4DA;
  --complementary: #FFB6B3;
  --complementaryDark: #ee9b96;
  --dark: #3A3A3A;
  --light: #FFFFFF;
  --grey: #eee;
  --link: #00aeef;

  --viewportPadding: 1rem;
}

.layoutList {
  list-style: none;
  padding: 0;
}

.button {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: .5rem;
  background: var(--complementary);
  color: var(--dark);
  text-decoration: none;
  font-size: 1.3rem;

  &:hover, &:focus {
    box-shadow: var(--complementaryDark) 0 0 0 .2rem;
  }

  &:active {
    background: var(--complementaryDark);
  }
}


.listing {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-left: -var(--viewportPadding);
  margin-right: -var(--viewportPadding);

  & > li {
    padding: var(--viewportPadding);
    padding-top: 2rem;
    padding-bottom: 2rem;

    & > h2 {
      margin-top: 0;
      margin-bottom: 0;
    }

    & > p {
      margin-bottom: 0;
      hyphenate: auto;

    }
  }

  & > li:nth-child(even) {
    background: var(--mainAlt);
  }
}

.link {
  text-decoration: none;
  color: var(--link);

  &:hover {
    text-decoration: underline;
  }
}

/* High-visibility focus style for increased usability */
:focus {
  outline: 0;
  background: var(--dark) !important;
  border-color: var(--light) !important;
  color: white !important;
}
