:root {
  --main: #A8E6CE;
  --mainLight: #B1F2D9;
  --mainAlt: #EAF4DA;
  --complementary: #FFB6B3;
  --complementaryDark: #996663;
  --dark: #3A3A3A;
  --light: #FFFFFF;

  --viewportPadding: 1rem;
}

.thinText {
  font-weight: 200;
  color: black; /* Increased contrast for legibility */
}

.layoutList {
  list-style: none;
  padding: 0;
}
