@import './common.css';

/*
 * Minimal CSS-reset.
 */

/*
  Make total width include padding, borders, etc..
  @REFERENCE: https://www.paulirish.com/2012/box-sizing-border-box-ftw/
*/
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
  Use whatever nice fonts are available on each system. This means we
  can avoid using webfonts or bundle our own while still getting nice
  results.
  @REFERENCE: https://hackernoon.com/10-things-i-learned-making-the-fastest-site-in-the-world-18a0e1cdf4a7#d27e
*/
body {
  font-family: "Helvetica Neue", "Calibri Light", Roboto, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  letter-spacing: 0.02em;
  font-size: 120%;

  /* Remove default margin.*/
  margin: 0;
}

section {
  /*
    Avoid collapsing margins by default for sections making them fully contain
    their child elements.
    @REFERENCE: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
  */
  overflow: auto;

  /*
   * Add general padding to section blocks rather than body, allowing the
   * background to extend over the full viewport.
   */
  padding: 2rem 1rem;

  /* Layout titles tightly to section border */
  & > h1:first-child, & > h2:first-child {
    margin-top: 0;
  }
}

/* Never over-extend an image */
img {
  max-width: 100%;
}


/*
 * Theme
 */
html {
  color: var(--dark);
}

h1, h2, h3, h4 {
  font-weight: normal;
}
